{{ range where .Site.Pages "Type" "subheader" }}
<div class="row section topspace">
    <div class="col-md-12">
        <div class="lead text-center text-muted" >
           <br>
            <h1 class="text-center" style="font-size: 25px;font-weight:bold;text-align: center;line-height: 48px;">{{ .Title }}</h1>
           <p style="text-align: left; font-size: 15px;color: rgb(65, 65, 65);font-family: rubik;">Kami <strong style="color: rgb(92, 92, 92);font-weight: bold;">PT. Tata Amalia Jaya </strong>adalah konsultan jasa perizinan khusus bangunan, yang membantu developer / kontraktor konsultan / masyarakat umum untuk menyelesaikan masalah izin bangunannya atau untuk mendapatkan izin yang terkait dengan legal bangunannya (misal IMB Jakarta), dengan tetap berpegang pada prinsip aturan yang ditetapkan oleh Pemda setempat.</p>
           <p style="text-align: left;font-size: 15px; color: rgb(65, 65, 65);font-family: rubik;">Spesialisasi kami meliputi IPPR, IMP, DIRWAS, BAST, Sertifikat Laik Fungsi (SLF) dan Perizinan Bangunan Gedung (PBG) atau yang lebih dikenal dengan Izin Mendirikan Bangunan (IMB) di Jakarta (IMB Jakarta) pada khususnya, di Jabodetabek pada umumnya. Selain itu kami juga membantu pengurusan izin kelengkapan IMB dan SLF seperti KRK, RKK Damkar, IPTB/ SKA, Izin Lingkungan dan sebagainya Tim kami terdiri dari konsultan dan tenaga ahli berpengalaman yang dalam mengurus perizinan dengan jam terbang yang tinggi, tentunya akan dapat mendampingi developer property dalam memberikan solusi dan arahan atas proses perizinan yang harus dilalui.
           </p>
           <div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_btn3-container vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-danger" href="https://fe8cf058-2ee6-41ae-a879-d34c8394ce17.filesusr.com/ugd/c91f59_c06d0cb5e9344f15b615a98c007c549a.pdf" title="" target="_blank">Download Company Profile</a></div></div></div></div></div>
    
        </div>
    </div>
</div> <!-- / section -->
{{ end }}
